.app {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

.header {
  border: 3px solid rgba(219, 217, 217, 0.517);
  width: 100%;
}
.test {
  text-align: center;
}
.navlink {
  border-radius: 2px;
  float: left;
  text-decoration: none;
  padding: 10px 16px;
  color: blue;
  font-size: 20px;
  border: 1px solid blue;
}
.navlink.active {
  background-color: rgb(124, 124, 235);
}
.navlink:hover:not(a.active) {
  background-color: aliceblue;
}
.input {
  width: 80%;
  height: 3rem;
  font-size: 30px;
  padding: 5px;
  text-align: start;
  border-radius: 10px 0px 0px 10px;
}
.btn {
  width: 18%;
  height: 3.7rem;
  font-size: 30px;
  border-radius: 0px 10px 10px 0px;
}

/* imges|? */

.cartContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  border: 3px solid rgba(219, 217, 217, 0.517);
  justify-content: center;
  padding: 25px 0px 25px 0px;
}

.imageOriginal {
  width: 250px;
  height: 100%;
}
.cartImages {
  border: 5px solid black;
  height: 250px;
}
